<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Example</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="image-example" layout-padding>
                    <h4>例如你可以上传以下这张图片：</h4>
                    <!-- <div> -->
                    <img src="images/imageapi.jpg" style="width: ;height: auto;">
                    <!-- </div> -->
                    <h4>那么你将得到的结果是：</h4>
                    <div style="background-color: #fff;width: 100%;">
                        <p>
                            看很多公司在招聘大数据和机器学习的人，我有3个建议（1）找1，2个比较靠谱的人就够了，不是越多越好（2）这1，2个人要能给大家上课，传递知识（3）不要招不写代码的人，做大数据和及其学习的，不亲自写（或者写过）大量代码，基本上就只会忽悠了
                        </p>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
