#header a, ul.api-row li a {
  display: block;
  text-decoration: none;
  text-align: center; }

#header {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }
  #header .container div {
    overflow: hidden; }
  #header a.header-active + span {
    width: 100% !important; }
  #header .logo-image {
    width: 109px;
    height: 39px;
    background: url(../../images/placeholder.png) no-repeat 0 0;
    background-size: 109px 39px; }
  #header .header-logo {
    margin-top: 20px; }
  #header .header-nav {
    height: 100%;
    color: #ccc; }
    #header .header-nav ul {
      overflow: hidden; }
    #header .header-nav li {
      list-style: none;
      float: left;
      margin-right: 8px; }
      #header .header-nav li a {
        padding: 30px 45px; }
      #header .header-nav li span {
        display: block;
        width: 0;
        height: 3px;
        background-color: #2b6ace;
        transition: all .8s; }
      #header .header-nav li:hover span {
        width: 100%; }

#header a, ul.api-row li a {
  display: block;
  text-decoration: none;
  text-align: center; }

body {
  background-color: #FAFAFA; }

ul.api-row li {
  list-style: none;
  float: left;
  width: 50%;
  overflow: hidden; }
  ul.api-row li a {
    width: 100%;
    padding: 14.28571%;
    background-color: #fff; }
  ul.api-row li .md-button {
    text-transform: none;
    color: #2b6ace;
    font-weight: 700; }
